h5 {
	text-align: center;
	font-size: 150%;
	background-color: #ff66ff;
	color: #336600;
	font-family:verdana;
}
p{
	border: 2px solid;
	padding: 30px;
	
}
body{
	margin: 20px;

}
table,th,td{
	border: 1px solid black;
	border-collapse: collapse;
}
th,td{
	padding: 5px;
}

#t01{
	color: white;
	background-color: black;
}