h5 {
	text-align: center;
	font-size: 150%;
	background-color: #ff66ff;
	color: #336600;
	font-family:verdana;
}
p{
	border: 2px solid;
	padding: 30px;
	
}
body{
	margin: 20px;
	div{
		background-image: url('Images/cover.jpg');
	}
}
